.linear-progress-wrap{
    width: 100%;
    height: 5px;
    position: relative;
    .total{
        position: absolute;
        left: 0;
        right:0;
        height: 100%;
        background-color: #ccc;
    }
    .prog{
        position: absolute;
        left: 0;
        right:0;
        height: 100%;
        background-color: #00B2FF;
    }
}