.nsfw{
    position: relative;
    .nsfw-content{
        padding: 5px 10px;
        .nsfw-wrap{
            .nsfw-lbl{
                font-size: 22px;
                font-family: "Muli-SemiBold";
                line-height: 22px;
                text-transform: uppercase;
                color: #f13c6e;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .attr-item{
                .top-wrap{
                    display: flex;
                    padding: 0px;
                    align-items: center;
                    .prop-name{
                        font-size: 12px;
                        font-family: "Muli-SemiBold";
                        margin-right: 10px;
                        text-transform: capitalize;
                    }
                    .prop-value{
                        flex: 1;
                    }
                }
                .perc{
                    font-size: 11px;
                    font-family: "Muli-Regular";
                    text-align: right;
                    line-height: 11px;
                    margin-top: -5px;
                }
            }
        }
    }
}