.places{
    position: relative;
    .places-content{
        padding: 5px 10px;
        text-align: left;
        color: #555;
        .places-item{
            padding: 5px 0px;
            .cat-title{
                font-family: "Muli-SemiBold";
                font-size: 14px;
                text-transform: capitalize;
                .vv{
                    font-family: "Muli-Regular";
                    font-size: 11px;
                }
            }
        }
        .place-attr{
            display: inline-block;
            margin: 4px 2px;
            padding: 5px 10px;
            text-transform: uppercase;
            font-size: 11px;
            font-family: "Muli-Regular";
            line-height: 14px;
            border-radius: 20px;
            box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
            color: #555;
        }
        .place-env{
            margin: 5px 10px;
            text-transform: uppercase;
            font-size: 22px;
            font-family: "Muli-SemiBold";
            line-height: 22px;
            text-align: center;
            color: #f13c6e;
        }
    }
}