.about-wrapper{
    box-sizing: border-box;
    padding: 100px 0 40px;
    .first{
        background-image: url("../images/bg.jpg");
        background-position: center;
        background-size: cover;
        height: 400px;
        .pmask{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            opacity: 0.88;
            background-image: linear-gradient(112deg, #f54ea2, #ff7676);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            flex-direction: column;
            .title{
                font-family: "SourceSansPro-Bold";
                font-size: 64px;
                line-height: 65px;
            }
            .stitle{
                margin-top: 20px;
                line-height: 24px;
                font-family: "SourceSansPro-Bold";
                font-size: 24px;
            }
        }
    }
    .second{
        background-image: url("../images/pattern.svg");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0px auto;
        padding: 60px 50px;
        background-color: #fafafa;
        .atitle{
            margin: 0px auto;
            margin-top: 100px;
            font-size: 34px;
            font-family: "SourceSansPro-Black";
            color:#000;
            text-align: center;
            max-width: 600px;
            letter-spacing: 3px;
        }
        .line{
            width:84px;
            height: 1px;
            background: #000;
            margin: 22px auto 62px auto;
        }
        .about-content{
            font-family: "SourceSansPro-Regular";
            color: #757474;
            max-width: 600px;
            margin: 0px auto;
            text-align: center;
            font-size: 22px;
            line-height: 30px;
        }
    }
    .third{
        background-color: #fff;
        margin: 0px auto;
        padding: 60px 50px;
        .etitle{
            margin: 0px auto;
            margin-top: 60px;
            font-size: 34px;
            font-family: "SourceSansPro-Black";
            color:#000;
            text-align: center;
            max-width: 600px;
            letter-spacing: 3px;
        }
        .line{
            width:84px;
            height: 1px;
            background: #000;
            margin: 22px auto 62px auto;
        }
        .people-wrap{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 1188px;
            margin: 0px auto;
            .person{
                width:33.33%;
                padding: 10px;
                box-sizing: border-box;
                margin: 15px 0px;
                position: relative;
                cursor: pointer;
                &:hover{
                    .fright{
                        .front{
                            .llink{
                                font-size: 19px;
                            }
                        }
                    }
                }
                .pic{
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    overflow: hidden;
                    width:117px;
                    height: 117px;
                    transition: all 300ms ease;
                }
                .fright{
                    text-align: right;
                    .front{
                        background: #fff;
                        margin: -34px 0 0;
                        width: 90%;
                        padding: 15px 0 0 15px;
                        position: relative;
                        text-align: left;
                        display: inline-block;
                        .name{
                            font-size: 22px;
                            font-family: "SourceSansPro-Bold";
                            transition: all 300ms ease;
                        }
                        .desig{
                            font-size: 18px;
                            margin-top: 10px;
                            font-family: "SourceSansPro-SemiBold";
                            letter-spacing: 1.1px;
                            transition: all 300ms ease;
                            text-transform: uppercase;
                        }
                        .llink{
                            color:#286EFA;
                            font-size: 17px;
                            position: relative;
                            text-align: left;
                            margin-top: 10px;
                            transition: all 200ms ease;
                            &:after{
                                content: '→';
                                position: absolute;
                                margin-left: 5px;
                                font-family: "IntercomText", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                -webkit-transition: -webkit-transform .3s;
                                transition: -webkit-transform .3s;
                                transition: transform .3s;
                                transition: transform .3s, -webkit-transform .3s;
                            }
                        }
                    }
                }
            }
        }
    }
    .fourth{
        background-image: url("../images/working-together.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 522px;
        .fmask{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.6);
            .ftitle{
                font-size: 32px;
                font-family: "SourceSansPro-Bold";
                letter-spacing: 3px; 
                color:#FFF;
            }
        }
    }
    .five{
        background-color:  #ed3d6d;
        padding: 30px 50px;
        color: #fff;
        text-align: center;
        .ctitle{
            margin-top: 40px;
            font-size: 32px;
            font-family: "SourceSansPro-Black";
            letter-spacing: 3px;
        }
        .cline{
            width:84px;
            height: 1px;
            background: #FFF;
            margin: 22px auto 62px auto;    
        }
        .ccontent{
            margin: 0px auto;
            font-size: 15px;
            font-family: "SourceSansPro-Regular";
            margin-bottom: 60px;
            .sec-one{
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                margin: 20px 0px;
                .about-sec{
                    width: 50%;
                    text-align: center;
                    opacity: 0.9;
                    transition: opacity 200ms ease;
                    &:hover{
                        opacity: 1;
                        .about-img{
                            transform: scale(1.08);
                        }
                    }
                    .about-img{
                        transition: transform 200ms ease;
                        width: 50px;
                    }
                    .sec-desc{
                        font-size: 24px;
                        text-align: center;
                        padding: 5px 20px;
                    }
                }
            }
        }
        .email-btn{
            width: 350px;
            height: 50px;
            border-radius: 4px;
            background-color: #ffffff;
            color:#ed3d6d;
            display: flex;
            font-family: "SourceSansPro-Bold";
            font-size: 16px;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
            cursor: pointer;
        }
    }

    .about-modal-wrap{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(243,243,243,0.8);
        z-index: 1000;
        transition: all 500ms ease;
        text-align: center;
        &.hide{
            background-color: rgba(0,0,0,0);
            pointer-events: none;
            .modal-container{
                pointer-events: none;
                opacity: 0;
            }
        }
        &:before{
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .modal-container{
            position: relative;
            border-radius: 7px;
            text-align: left;
            vertical-align: middle;
            display: inline-block;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding: 35px 30px 0;
            border-bottom: 30px solid transparent;
            min-width: 0;
            margin-left: 5%;
            margin-right: 5%;
            max-height: 95%;
            background: #fff;
            width: 800px;
            max-width: 80%;
            cursor: auto;
            white-space: normal;
            transition: all 500ms ease;
            pointer-events: all;
            box-shadow: 0 10px 20px rgba(90,122,190,0.2);
            .close-btn{
                position: absolute;
                top: 30px;
                right: 35px;
                width: 30px;
                cursor: pointer;
            }
            .first-container{
                display: flex;
                align-items: center;
                .profile-pic{
                    width:120px;
                    height: 120px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 30px;
                }
                .per-info{
                    flex: 1;
                    .per-name{
                        font-size: 36px;
                        font-family: "SourceSansPro-Bold";
                        line-height: 1.44
                    }
                    .per-desig{
                        font-size: 18px;
                        font-family: "SourceSansPro-Regular";
                    }
                }
            }
            .per-desc{
                margin-top: 20px;
                font-size: 19px;
                font-family: "SourceSansPro-Regular";
                line-height: 1.5;
            }
        }
    }
}

@media (max-width: 768px){
    .about-wrapper{
        padding: 70px 0px 40px;
        .first{
            height: 190px;
            .pmask{
                padding: 0px 15px;
                .title{
                    font-size: 32px;
                    line-height: 35px;
                }
                .stitle{
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
        .second{
            padding: 10px 15px;
            .atitle{
                margin-top: 30px;
            }
        }
        .third{
            padding: 10px 15px;
            .etitle{
                line-height: 35px;
            }
            .people-wrap{
                .person{
                    width: 50%;
                    .fright{
                        .front{
                            width: 80%;
                            .name{
                                font-size: 18px;
                            }
                            .desig{
                                font-size: 16px;
                            }
                            .llink{
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
        .fourth{
            height: 200px;
        }
        .five{
            padding: 10px 15px;
            .ccontent{
                padding: 2px 5px;
                .sec-one{
                    padding: 2px 5px;
                    .about-sec{
                        .about-img{
                            width: 30px;
                        }
                        .sec-desc{
                            font-size: 18px;
                        }
                    }
                }
            }
            .email-btn{
                width: 250px;
            }
        }
        .about-modal-wrap{
            display: flex;
            align-items: center;
            .modal-container{
                .close-btn{
                    right: 25px;
                }
                .first-container{
                    margin-top: 20px;
                    .profile-pic{
                        width: 100px;
                        height: 100px;
                    }
                    .per-info{
                        .per-name{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}