.demo-container{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Muli-Regular';
    background-color: #FFF;
    .demo-wrapper{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        .media-explorer{
            width: 65%;
            height: 100%;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            .demo-explorer-container{
                display: flex;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                -ms-flex-direction: column;
                flex-direction: column;
                .media-view{
                    flex: 1 1 auto;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    position: relative;
                    &.fade{
                        opacity: 0.3;
                    }
                    .image-view{
                        transform: translateY(0vh) translateZ(0px);
                        max-width: 100%;
                        max-height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        img{
                            flex: 0 1 auto;
                            max-width: 100%;
                            max-height: 100%;
                            height: auto;
                            width: auto;
                            display: block;
                            cursor: pointer;
                        }
                        .face-canvas{
                            position: absolute;
                            z-index: 11;
                        }
                    }
                }
                .media-list-container{
                    background: rgba(0, 0, 0, 0.12);
                    &.fade{
                        opacity: 0.3;
                    }
                    .demo-explorer-media-list{
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        padding: 20px 10px 20px 3px;
                        margin: 0px 15px;
                        overflow-x: auto;
                        .demo-explorer-media-item{
                            position: relative;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            box-sizing: content-box;
                            flex: 0 0 auto;
                            margin-right: 20px;
                            background-color: rgba(0, 0, 0, 0.4);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            opacity: .4;
                            cursor: pointer;
                            &.selected{
                                box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.75), 0px 0px 0px 2px #009cff;
                                opacity: 1;
                            }
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .model-content{
            position: absolute;
            top: 70vh;
            background: #fff;
            -webkit-overflow-scrolling: touch;
            overflow-y: auto;
            padding-top: 80px;
            width: 35%;
            .demo-info-header{
                height: 56px;
                box-shadow: inset 0 -1px 0 0 rgba(27, 38, 52, 0.08);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 35%;
                z-index: 10;
                top: 0;
                background: #fff;
                box-shadow:0px 3px 10px 0px rgba(0,0,0,0.3);
                .demo-info-title{
                    text-transform: uppercase;
                    text-align: center;
                    font-family: "Muli-Bold";
                }
            }
            .loader-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                img{
                    width: 100px;
                }
            }
            .results{
                width: 100%;
                display: none;
                margin: 0px auto;
                z-index: 1;
                padding: 0px 10px;
                box-sizing: border-box;
                columns: 2;
                column-gap: 0px;
                padding-bottom: 80px;
                &.show{
                    display: block;
                    position: relative;
                }
                .btn-wrap{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                }
            }
            .show-upload{
                z-index: 100;
                width: 87%;
                left: 50%;
                transform: translate(-50%, 0);
                position: fixed;
                bottom: 8px;
                border-radius: 2px;
                box-shadow: 0 2px 8px 0 rgba(27, 38, 52, 0.36);
                border: solid 1px rgba(27, 38, 52, 0.24);
                font-family: 'Muli-SemiBold';
                text-transform: uppercase;
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.3s, transform 0.3s, height 0.5s;
                .top{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    justify-content: center;
                    background-color: #f13c6e;
                    color: #ffffff;
                    height: 56px;
                    padding: 0px 11px;
                    svg{
                        position: relative;
                        bottom: 2px;
                        margin-right: 10px;
                    }
                }
                .bottom{
                    transition: height 0.2s ease;
                    height: 0px;
                    background-color: #fff;
                    overflow: hidden;
                    &.show{
                        height: 110px;
                        padding: 5px 15px;
                    }
                    input{
                        margin-top: 30px;
                    }
                    .err{
                        font-size: 12px;
                        font-style: italic;
                        color:#ff0000;
                    }
                    .btn-wrap{
                        margin-top: 10px;
                        text-align: center;
                        button{
                            &:disabled{
                                cursor:not-allowed;
                                background-color: #ccc;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 544px){
    .demo-container{
        .demo-wrapper{
            .media-explorer{
                flex: 1 0 20% !important;
                .demo-explorer-container{
                    .media-view{
                        .image-view {
                            margin: 106px 40px 40px 40px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
            .model-content {
                position: static;
                right: 0;
                top: 0;
                box-shadow: -2px 0px 20px 0px rgba(0,0,0,0.4);
                .show-upload{
                    position: absolute;
                    left: auto;
                    right: 20px;
                    bottom: 8px;
                    width: calc(35% - 41px);
                    transform: translate(0, 0);
                    margin: 0;
                    opacity: 1;
                    &.hide{
                        opacity: 0;
                        transform: translate(0, 70px);
                    }
                }
            }
        }
    }
}

@media (max-width:544px){
    .demo-container{
        .demo-wrapper{
            .media-explorer{
                position: fixed;
                width: 100%;
                height: 70vh;
                flex: 1 0 71%;
                .demo-explorer-container{
                    .media-view{
                        .image-view{
                            margin: 45px 10px 10px 10px;
                            max-width: 80%;
                            max-height: 80%;
                            will-change: transform;
                            transition: transform 0.1s;
                        }
                    }
                    .media-list-container{
                        .demo-explorer-media-list{
                            justify-content: flex-start;
                            padding: 10px;
                        }
                    }
                }
            }
            .model-content{
                padding: 0;
                width: 100%;
                height: 100%;
                z-index: 20;
                -ms-flex: 1 1 50%;
                flex: 1 1 50%;
                .demo-info-header{
                    width: 100%;
                }
                &.no-scroll{
                    overflow-y: hidden;
                }
                .results{
                    padding-top: 60px;
                    padding: 60px 5px 100px 5px; 
                }
            }
        }
    }
}

@media (max-width:768px){
    .demo-container{
        .demo-wrapper{
            top:50px;
        }
    }
}