.landing-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    font-family: "SourceSansPro-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: .2px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.08);
    margin-top: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    transition: margin-top .2s;
    .header-inner{
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        max-width: 1188px;
        .main-title{
            align-self: center;
            position: relative;
            font-size: 38px;
            cursor: pointer;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            display: flex;
            align-items: center;
            img{
                width: 200px;
            }
            .tagl{
                font-size: 12px;
                line-height: 16px;
                text-align: right;
                width: 140px;
                color:#35587a;
                margin: 5px auto 0px auto;
                font-family: "SourceSansPro-Regular";
                font-weight: 400;
                letter-spacing: 0.5px;
                position: absolute;
                bottom: -10px;
                right: -23px;
            }
        }
        .hamburger{
            display: none;
        }
        .header-nav{
            display: flex;
            width: 84.8%;
            justify-content: flex-end;
            flex:1 0 auto;
            .navbar-list{
                font-family: "SourceSansPro-Regular";
                display: flex;
                margin-left: 30px;
                justify-content: flex-end;
                max-width: 550px;
                align-self: center;
                flex: 1 1 auto;

                .nav-dropdown{
                    position: relative;
                    transition: all 500ms ease;
                    margin: 0px 20px;
                    &.open{
                        &:hover{
                            .dropdown-content{
                                opacity: 0;
                                transform: scale(1) translateY(0px);
                                pointer-events: none;
                            }    
                        }
                    }
                    &:hover{
                        .dropdown-content{
                            opacity: 1;
                            transform: scale(1) translateY(0px);
                            pointer-events: all;
                        }
                        .dropdown-trigger{
                            color: #f13c6e;
                        }
                    }
                    .dropdown-trigger{
                        cursor: pointer;
                        padding: 1px 2px 0;
                        white-space: nowrap;
                        font-weight: 400;
                        color: #35587a;
                        transition: all 200ms ease;
                        font-size: 20px;
                        background-image: url("../../images/caret-down.svg");
                        background-size: 13px;
                        background-repeat: no-repeat;
                        background-position: 100% 60%;
                        padding-right: 25px;
                        padding-bottom: 4px;
                        &.active{
                            color: #f13c6e;
                        }
                    }
                    .dropdown-content{
                        position: absolute;
                        opacity: 0;
                        pointer-events: none;
                        z-index: 100;
                        background-color: #fff;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        transition: all 300ms ease;
                        padding: 15px 0px;
                        transform: scale(0.9) translateY(-20px);
                        .dropdown-item{
                            font-weight: 400;
                            color: #35587a;
                            transition: all 200ms ease;
                            font-size: 20px;
                            cursor: pointer;
                            white-space: nowrap;
                            padding: 10px 25px;
                            margin: 10px 0px;
                            &.indent{
                                padding-left: 54px;
                            }
                            &.disabled{
                                color:#999;
                                &:hover{
                                    background-color: #fff;
                                    color:#999;
                                    cursor: default;
                                }
                            }
                            &:hover{
                                background-color: rgba(241, 60, 110,0.8);
                                color:#fff;
                            }
                        }
                    }
                }
                .nav-item{
                    cursor: pointer;
                    padding: 1px 2px 0;
                    white-space: nowrap;
                    font-weight: 400;
                    color: #35587a;
                    transition: all 200ms ease;
                    font-size: 20px;
                    margin: 0px 20px;
                    &:hover{
                        color: #f13c6e;
                    }
                    &.active{
                        color: #f13c6e;
                        font-weight: 800;
                    }
                }
            }
            .nav-auth{
                display: flex;
                align-self: center;
                margin-left: 30px;
                .nav-item{
                    cursor: pointer;
                    padding: 1px 2px 0;
                    white-space: nowrap;
                    font-weight: 400;
                    color: #35587a;
                    &:hover{
                        color: #f13c6e;
                    }
                }
                .close-icon{
                    display: none;
                }
                .nav-btn{
                    cursor: pointer;
                    background-color: transparent;
                    border: 2px solid #f13c6e;
                    border-radius: 20px;
                    margin-right: 12px;
                    font-weight: 500;
                    transition: all 200ms ease;
                    a{
                        padding: 8px 16px;
                        color: #f13c6e;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: 800;
                    }
                    &:hover{
                        background-color: #f13c6e;
                        a{
                            color: #fff;
                        }
                        &.blue{
                            background-color: #00B2FF;
                            a{
                                color: #fff;
                            }
                        }
                        &.pink{
                            a{
                                color:#ffffff;
                            }
                        }
                    }
                    &.blue{
                        color: #00B2FF;
                        border: 2px solid #00B2FF;
                        a{
                            color: #00B2FF;
                        }
                    }
                    &.pink{
                        background-color: #f13c6e;
                        color:#f13c6e;
                        border: 2px solid #f13c6e;
                        a{
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    .landing-header{
        z-index: 101;
        height: 70px;
        .header-inner{
            position: relative;
            .main-title{
                width: 178px;
                margin: 0 auto;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 170px;
                }
            }
            .hamburger{
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background-image: url("../images/menu.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                display: block;
            }
            .header-nav{
                bottom: 0;
                left: 0;
                right: 25%;
                width: auto;
                z-index: 110;
                padding: 0 10px 10px;
                background: #fff;
                flex-direction: column-reverse;
                justify-content: flex-end;
                transform: translateX(-115%);
                position: absolute;
                transition: .15s ease-out;
                top: 0;
                &.show{
                    position: fixed;
                    transform: translateX(0);
                    box-shadow: 1px 0 3px rgba(0,0,0,.1), 1px 0 rgba(0,0,0,.1);
                }
                .navbar-list{
                    display: block;
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                    align-self: stretch;
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;
                    margin-left: 5px;
                    .nav-dropdown{
                        margin: 15px 20px;
                        &.hidemobile{
                            display: none;
                        }
                        .dropdown-trigger{
                            color:#323237;
                            font-weight: 600;
                        }
                        .dropdown-content{
                            .dropdown-item{
                                font-size: 13px;
                            }
                        }
                    }
                    .nav-item{
                        line-height: 26px;
                        margin: 15px 20px;
                        background: 0 0;
                        text-align: left;
                        display: block;
                        color: #323237;
                        font-weight: 600;
                    }

                }
                .nav-auth{
                    margin-bottom: 10px;
                    margin-left: 0px;
                    width: 100%;
                    box-shadow: 0 1px rgba(0,0,0,.1);
                    display: block;
                    flex: 0 0 auto;
                    overflow: visible;
                    position: relative;
                    padding: 10px 0px;
                    .close-icon{
                        position: absolute;
                        display: block;
                        top:25px;
                        right: 0px;
                        width: 20px;
                        height: 20px;
                        background-image: url("../images/close.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    .nav-item{
                        line-height: 26px;
                        margin: 6px 0;
                        padding: 2px 0 0 6px;
                        background: 0 0;
                        text-align: center;
                        a{
                            display: block;
                            color: #323237;
                        }
                    }
                    .nav-btn{
                        margin: 1px 60px 1px 10px;
                        padding: 0px;
                        height: 40px;
                        a{
                            padding: 0 16px;
                            line-height: 40px;
                        }
                        &.blue{
                            padding-right: 50px;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}