.technology-wrap{
    height: 100%;
    box-sizing: border-box;
    padding-top: 125px;
    .pattern-bg{
        position: fixed;
        top: 100px;
        bottom: 0px;
        left:0px;
        right:0px;
        box-sizing: border-box;
        background-image: url("../images/pattern.svg");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .info-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        font-family: "SourceSansPro-Regular";
        max-width: 1188px;
        margin: 0px auto;
        .cur-title{
            font-size: 16px;
            text-align: left;
            font-family: "SourceSansPro-SemiBold";
            line-height: 38px;
            letter-spacing: 1.8px;
            margin-top: 40px;
            text-transform: uppercase;
        }
        .container{
            width: 100%;
            margin: 50px auto 160px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .normal-text{
                width: 460px;
                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: -26px 25px 33px -10px rgba(0, 0, 0, 0.5);
                position: absolute;
                left: 55%;
                .review-page{
                    .blue-title{
                        background-color: #5e9de0;
                        height: 40px;
                    }
                    .content-wrap{
                        display: flex;
                        align-items: center;
                        padding: 10px 0px;
                        .content-pic{
                            width: 30%;
                            img{
                                width: 120px;
                                margin-right: 10px;
                            }
                        }
                        .content-text{
                            width: 70%;
                            padding-right: 10px;
                            .cheading{
                                font-size: 16px;
                                font-weight: 600;
                                color:#5e9de0;
                            }
                        }
                    }
                }
            }
            .t-img{
                position: absolute;
                left: 70%;
                text-align: right;
                img{
                    width: 120px;
                    display: inline;
                }
                #st5{
                    position: absolute;
                    top:30%;
                    left: 60%;
                }
            }
            .post-card{
                border-radius: 5px;
                width: 424px;
                height: 273px;
                transition: all 1s ease;
                &.first{
                    z-index: 2;
                }
                &.right{
                    left: 55%;
                    transform: rotate3d(0, 0, 5, 4deg);
                    box-shadow: 26px 25px 33px -10px rgba(0, 0, 0, 0.5);
                }
                .img-holder{
                    border-radius: 5px;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    z-index: 1;
                    transition: all 2s ease;
                    &.fade-away{
                        filter:blur(3px) grayscale(0.1) brightness(0.7)
                    }
                }
            }
            .tholder{
                .animated-texts{
                    display: none;
                    margin: 25px 0px;
                    font-size: 24px;
                    color:#fff;
                    font-weight: 600;
                    letter-spacing: 1.2px;
                }
            }
            .chips-wrap{
                position: absolute;
                left:0;
                right: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .chip{
                    margin: 10px 5px;
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    padding: 5px 10px;
                    font-family: "SourceSansPro-SemiBold";
                    letter-spacing: 1.5px;
                    background-color: #fff;
                    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    .ctext{
                        font-size: 13px;
                        margin-right: 5px;
                    }
                    .cicon{
                        width: 20px;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        img{
                            width: 100%;
                        }
                    }
                    .cpercent{
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
            .texte{
                width: 50%;
                position: relative;
                font-family: "SourceSansPro-SemiBold";
                letter-spacing: 1.2px;
                font-size: 52px;
                z-index: 10;
                color: #111;
                line-height: 60px;
                .ts{
                    margin-top: 20px;
                    font-family: "SourceSansPro-Regular";
                    font-size: 21px;
                    line-height: 25px;
                }
            }
        }
        
        .landing-wrap{
            width: 85%;
            margin: 0px auto;
            display: flex;
            align-items: center;
            position: relative;
            .text{
                width: 70%;
                position: relative;
                letter-spacing: 1.1px;
                font-size: 40px;
                z-index: 10;
                color: #fff;
                font-weight: 700;
                line-height: 70px;
                &.small{
                    font-size: 3.5rem;
                    line-height: 5rem;
                    width: 50%;
                }
                .txtemp{
                    display: inline-block;
                    animation: flash 1000ms ease;
                }
            }
            .imag{
                width: 30%;
                img{
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
        
        .team-wrapper{
            width: 90%;
            margin: 0px auto;
            color: #fff;
            padding-top: 50px;
            font-size: 26px;
            line-height: 50px;
            text-align: justify;
            .about-heading{
                text-align: center;
                font-size: 34px;
                margin-bottom: 20px;
                font-weight: 800;
            }
            .about-subhead{
                text-align: center;
                font-size: 22px;
                line-height: 34px;
                width: 90%;
                margin: 0px auto 20px auto;
            }
        }
        .about-wrap{
            width: 100%;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 80px;
            padding-top: 90px;
            .map-wrap{
                width: 50%;
                height: 400px;
                margin: 0px auto 0px 100px;
                border-radius: 25px !important;
                -webkit-border-radius:25px !important;
                -moz-border-radius:25px !important;
                overflow: hidden;
                .leaflet-container{
                    border-radius: 25px !important;
                    -webkit-border-radius:25px !important;
                    -moz-border-radius:25px !important;
                    overflow: hidden;
                    .leaflet-right{
                        right: 30px !important;
                    }
                }
            }
            .info-wrap{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                margin: 0px auto;
                .main-logo{
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 84px;
                    margin-left: 46px;
                }
                .address{
                    display: flex;
                    align-items: center;
                    margin: 20px 0px;
                    img{
                        width: 30px;
                        margin-right: 20px;
                    }
                    font-size: 24px;
                    line-height: 30px;
                    .mailink{
                        text-decoration:none;
                        color:#fff;
                    }
                }
            }
        }
    }
}

.zoomlens{
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    overflow: hidden;
    display: none;
    transition: all 1s linear;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:before{
        content: '';
        width: 80px;
        height: 80px;
        background: inherit; 
        position: absolute;
        box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5);
        filter: blur(10px);
        left: 0px;
        top: 0px;
    }
    &.dark{
        border: 1px solid rgba(0,0,0,0.5);
        &:before{
            box-shadow: inset 0 0 0 200px rgba(0,0,0,0.5);
        }
    }
    &.path1{
        display: block;
        animation: path1 4s linear;
    }
    &.path2{
        display: block;
        animation: path2 4s linear;
    }
    &.path3{
        display: block;
        animation: path3 4s linear;
    }
}


@media (max-width: 768px){
    .technology-wrap{
        padding: 70px 0px 40px;
        .info-section{
            padding: 10px 15px;
            .container{
                margin: 20px auto;
                flex-wrap: wrap;
                justify-content: center;
                .texte{
                    width: 100%;
                    font-size: 28px;
                    line-height: 30px;
                    .ts{
                        font-size: 16px;
                    }
                    .cur-title{
                        margin-top: 10px;
                        line-height: 18px;
                    }
                }
                .post-card{
                    margin-top: 30px;
                    &.first{
                        width: 300px;
                        height: 200px;
                    }
                }
                .normal-text{
                    position: relative;
                    left: 0px !important;
                }
                .t-img{
                    margin-top: 20px;
                    position: relative;
                    left: 0px !important;
                }
                .chips-wrap{
                    position: relative;
                    top: 30px !important;
                }
            }
        }
    }
}