.landing-wrapper{
    position: relative;
    padding: 125px 0 40px;
    margin: 0 auto;
    transition: padding .2s;
    height: 100%;
    box-sizing: border-box;
    .pattern-bg{
        position: fixed;
        top: 100px;
        bottom: 0px;
        left:0px;
        right:0px;
        box-sizing: border-box;
        background-image: url("../images/pattern.svg");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .demo{
        position: relative;
        z-index: 1;
        color: #35587a;
        flex: 1;
        border-bottom: 3px solid #dbe8eb;
        .holder{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 1188px;
            margin: 0 auto;
            padding: 0px;
            .intro-text{
                flex: 1;
                padding: 30px 2px 30px 30px;
                z-index: 2;
                position: relative;
                .heading1{
                    font-size: 37px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-align: left;
                    margin: 0 auto 28px;
                    line-height: 45px;
                    font-family: "SourceSansPro-Bold";
                }
                .heading3{
                    font-size: 24px;
                    letter-spacing: .4px;
                    text-align: left;
                    margin: 0 auto;
                    line-height: 1.3;
                    width: 105%;
                    font-family: "SourceSansPro-SemiBold";
                }
                .started-btn{
                    margin-top: 30px;
                    font-family: "Prompt-Regular";
                    padding: 16px;
                    border-radius: 100px;
                    background-color: #f13c6e;
                    color: #fff;
                    border: 4px solid #c70c40;
                    height: 66px;
                    width: 340px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 200ms ease;
                    user-select: none;
                    &:hover{
                        background-color: #e01049;
                    }
                    img{
                        width: 33px;
                        height: 39px;
                        margin-right: 15px;
                    }
                    span{
                        font-size: 22px;
                        color:#fff;
                        font-family: "SourceSansPro-Bold";
                    }
                }
            }
            .image-demo{
                width: 40%;
                padding: 60px 0px 85px 30px;
                position: relative;
                z-index: 2;
                .image-box{
                    width: 100%;
                    margin:0px auto;
                    background-image: url("../images/support.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 480px;
                }
            }
        }
    }
    .solution-content{
        color:#35587a;
        .main-title{
            margin-top: 100px;
            font-size: 36px;
            margin-bottom: 10px;
            font-weight: 800;
            font-family: "SourceSansPro-Bold";
            text-align: center;
        }
        .solution-wrap{
            margin: 50px auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 1188px;
            .solution-item{
                box-sizing: border-box;
                width: 25%;
                text-align: center;
                margin:20px 0px;
                .sol-img{
                    width: 100px;
                    margin-bottom: 20px;
                }
                .sol-heading{
                    font-family: "SourceSansPro-SemiBold";
                    font-size: 23px;
                    color:#0085a9;
                }
                .sol-content{
                    margin-top: 30px;
                    font-family: "SourceSansPro-Regular";
                    font-size: 18px;
                    padding: 0px 40px;
                }
            }
        }
    }
    
}

@media (min-width: 960px){
    .landing-wrapper{
        .landing-header{
            .header-inner {
                width: 100%;
                max-width: 1188px;
            }
        }
    }
}

@media (max-width: 768px){
    
    .landing-wrapper{
        padding: 50px 0 40px;
        .demo{
            .holder{
                margin: 0;
                flex-wrap: wrap;
                padding-bottom: 40px;
                .intro-text{
                    width: 100%;
                    padding: 30px 10px 0px 10px;
                    margin-bottom: 10px;
                    .heading1{
                        font-size: 32px;
                        margin-top: 20px;
                        margin-bottom: 15px;
                        text-align: center;
                    }
                    .heading3{
                        font-size: 16px;
                        text-align: center;
                        width: 100%;
                    }
                    .started-btn{
                        font-size: 13px;
                        width: 240px;
                        margin: 30px auto 10px auto;
                        img{
                            width: 20px;
                        }
                        span{
                            font-size: 13px;
                        }
                    }
                }
                .image-demo{
                    width: 100%;
                    padding: 10px 10px;
                    box-sizing: border-box;
                    .image-box{
                        height: 200px;
                    }
                }
            }
        }
        .solution-content{
            .main-title{
                font-size: 24px;
            }
            .solution-wrap{
                .solution-item{
                    width: 100%;
                    padding: 0px 10px;
                    .sol-img{
                        width: 90px;
                    }
                }
            }
        }
    }
}