.demo-page{
    font-family: 'Muli-Regular';
    background-color: #FFF;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    .title{
        font-size: 24px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .id-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        .industry-btn{
            padding: 10px 30px;
            border:1px solid #f13c6e;
            border-radius: 25px;
            color:#000;
            font-size: 18px;
            margin: 10px;
            cursor: pointer;
            transition: all 300ms ease;
            &:hover{
                background-color: #f13c6e;
                color:#fff;
                opacity: 0.7;
            }
            &.active{
                background-color: #f13c6e;
                color:#fff;
            }
        }
    }
    .cards-wrap{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .card-item{
            background-color: #fff;
            margin: 10px;
            box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
            transition: all 200ms ease;
            width: 320px;
            cursor: pointer;
            &:hover{
                transform: scale(1.01);
            }
            .img-section{
                background-size: cover;
                width: 100%;
                height: 180px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .title-section{
                color:#f13c6e;
                padding: 5px 10px;
                font-size: 18px;
                text-align: center;
            }
            .content{
                padding: 5px 10px;
                .sec{
                    margin: 5px 0px;
                    color:#555;
                    .b{
                        font-weight: bold;
                        color:#000;
                    }
                }
            }
        }
    }
}