.preview-wrap{
    position: relative;
    padding: 100px 0 40px;
    box-sizing: border-box;
    height: 100%;
    .pattern-bg{
        position: fixed;
        top: 100px;
        bottom: 0px;
        left:0px;
        right:0px;
        box-sizing: border-box;
        background-image: url("../images/pattern.svg");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .width-container{
        max-width: 1188px;
        margin: 30px auto;
        position: relative;
        z-index: 1;
        &>h1{
            text-align: center;
            font-size: 48px;
        }
        .preview-list{
            display: flex;
            flex-wrap: wrap;
            .preview-item{
                text-align: center;
                width: 50%;
                box-sizing: border-box;
                margin: 40px 0px;
                cursor: pointer;
                transition: all 200ms ease;
                &:hover{
                    transform: scale(1.02);
                }
                .prev-img{
                    width: 140px;
                }
                .prev-text{
                    margin-top: 30px;
                    font-size: 28px;
                    font-family: "SourceSansPro-SemiBold";
                }
            }
        }
        .product-wrap{
            width: 95%;
            margin: 50px auto 0px;
            color: #fff;
            .product-info{
                width: 95%;
                margin: 0px auto;
                .main-title{
                    text-align: center;
                    width: 90%;
                    margin: 0px auto;
                    font-size: 34px;
                    font-weight: 800;
                    line-height: 40px;
                }
                .sub-title{
                    text-align: center;
                    margin-top: 20px;
                    font-size: 22px;
                    line-height: 28px;
                }
                .info-secs{
                    margin-top: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .isec{
                        padding: 10px;
                        .sec-ico{
                            text-align: center;
                            padding: 10px 0px;
                            img{
                                width: 70px;
                            }
                        }
                        .sec-head{
                            font-size: 22px;
                            text-align: center;
                            line-height: 38px;
                            font-weight: 800;
                        }
                        .sec-desc{
                            margin-top: 10px;
                            font-size: 18px;
                            font-weight: 300;
                            text-align: center;
                            line-height: 34px;
                        }
                    }
                }
                .see-demo{
                    margin-top: 30px;
                    text-align: center;
                    font-size: 22px;
                    span{
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 25px;
                            transform: rotate(270deg);
                            margin-left: 10px;
                            animation: moveleftright 2s infinite linear;
                        }
                    }
                }
            }
            .product-demo{
                margin:60px auto;
                max-width: 1188px;
                .search-box{
                    border: 1px solid #E4E3E4;
                    height: 60px;
                    padding-left: 80px;
                    font-size: 28px;
                    line-height: 36px;
                    background: #fff;
                    position: relative;
                    width: 90%;
                    margin: 0px auto;
                    display: flex;
                    align-items: center;
                    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
                    color:#333;
                    &:before{
                        content: " ";
                        position: absolute;
                        top: 10px;
                        left: 17px;
                        z-index: 2;
                        display: block;
                        background: url("../images/icon-search.svg") top left no-repeat;
                        width: 40px;
                        height: 40px;
                        background-size: 40px 40px;
                    }
                }
                .card-wrap{
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    min-height: 350px;
                    align-items: flex-start;
                    .carrd{
                        width: 460px;
                        box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.3);
                        border-radius: 5px;
                        overflow: hidden;
                        background-color: #fff;
                        margin :0px 20px;
                        .ca-image{
                            height: 250px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .ca-content{
                            color: #000;
                            padding: 5px 15px;
                            .ca-heading{
                                font-size: 18px;
                                font-weight: 600;
                                margin-bottom: 5px;
                                &.vc{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                            .ca-desc{
                                display: inline-flex;
                                align-items: center;
                                margin: 3px auto;
                                width: 50%;
                                
                                img{
                                    width: 20px;
                                    margin-right: 10px;
                                }
                                .it-desc{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .go-back{
                    font-size: 25px;
                    color: #000;
                    text-align: center;
                    margin-top: 40px;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}