.pricing-wrap{
    box-sizing: border-box;
    padding: 100px 40px;
    height: 100%;
    background-image: url("../images/pattern.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    .price-list{
        max-width: 1188px;
        margin: 50px auto;
        h2{
            margin: 10px 0px;
            text-align: center;
            color: #555;
            font-size: 40px;
        }
        .plans-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 60px;
            .plan{
                width: 320px;
                box-sizing: border-box;
                box-shadow: 0px 12px 30px -6px rgba(0,0,0,0.2);
                border: 1px solid #efefef;
                border-radius: 4px;
                overflow: hidden;
                margin: 0px 10px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.02) translateY(-10px);
                }
                .head{
                    padding: 17px 15px;
                    background-color: #10af16;
                    color: #fff;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                .plan-details{
                    margin-top:10px;
                    padding: 10px 15px;
                    color:#888;
                }
                .btn-wrap{
                    display: flex;
                    justify-content: center;
                    padding: 10px 10px;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    .details-btn{
                        padding: 10px 15px;
                        text-align: center;
                        color: #fff;
                        background-color: #f13c6e;
                        text-transform: uppercase;
                        font-size: 15px;
                        width: 50%;
                        cursor: pointer;
                        margin-right: 5px;
                        display: inline-block;
                        box-sizing: border-box;
                        border-radius: 4px;
                        box-shadow: -2px 5px 7px 0px rgba(0, 0, 0, 0.4);
                        transition: all 500ms ease;
                        &:hover{
                            box-shadow: -2px 5px 7px 0px rgba(0, 0, 0, 0.7);
                        }
                    }
                    .buy-btn{
                        box-shadow: -2px 5px 7px 0px rgba(0, 0, 0, 0.4);
                        transition: all 500ms ease;
                        &:hover{
                            box-shadow: -2px 5px 7px 0px rgba(0, 0, 0, 0.7);
                        }
                        border-radius: 4px;
                        padding: 10px 15px;
                        text-align: center;
                        color: #fff;
                        background-color: #1063c9;
                        text-transform: uppercase;
                        font-size: 15px;
                        width: 50%;
                        margin-left: 5px;
                        cursor: pointer;
                        display: inline-block;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}