.signup-wrapper{
    position: relative;
    padding: 100px 0 40px;
    box-sizing: border-box;
    .pattern-bg{
        position: fixed;
        top: 100px;
        bottom: 0px;
        left:0px;
        right:0px;
        box-sizing: border-box;
        background-image: url("../images/pattern.svg");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .first{
        background-image: url("../images/bg.jpg");
        background-position: center;
        background-size: cover;
        height: 400px;
        .pmask{
            width: 100%;
            height: 100%;
            opacity: 0.88;
            background-image: linear-gradient(112deg, #f54ea2, #ff7676);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            flex-direction: column;
            .title{
                font-family: "SourceSansPro-Bold";
                font-size: 64px;
                line-height: 65px;
            }
            .stitle{
                margin-top: 20px;
                line-height: 24px;
                font-family: "SourceSansPro-Bold";
                font-size: 24px;
            }
        }
    }
    .second{
        position: relative;
        z-index: 10;
        max-width: 1188px;
        margin: 30px auto;
        .gettouch{
            text-align: center;
            font-size: 32px;
            margin-bottom: 50px;
        }
        form[name="contact-form"]{
            max-width: 640px;
            margin: 20px auto;
            .err{
                color:red;
                text-align: center;
            }
            .send-btn{
                margin-top: 40px;
                padding: 10px 15px;
                text-align: center;
                background-color: #f13c6e;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                border-radius: 5px;
                width: 100%;
            }
        }
    }
}

@media (max-width:768px){
    .signup-wrapper{
        padding: 70px 0px 40px;
        .first{
            height: 190px;
            .pmask{
                .title{
                    font-size: 32px;
                    line-height: 35px;
                }
                .stitle{
                    text-align: center;
                    font-size: 19px;
                }
            }
        }
        .second{
            padding: 0px 10px;
            .gettouch{
                margin-bottom: 20px;
            }
        }
    }
}