.solutions-wrap{
    position: relative;
    padding: 100px 0 40px;
    .product-info{
        max-width: 1188px;
        margin: 120px auto;
        .main-title{
            color: #35587a;
            text-align: center;
            width: 90%;
            margin: 0px auto;
            font-size: 34px;
            font-weight: 800;
            line-height: 40px;
            margin-bottom: 90px;
        }
        .sub-title{
            text-align: center;
            margin-top: 20px;
            font-size: 22px;
            line-height: 32px;
        }
        .info-secs{
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .isec{
                padding: 10px 40px;
                .sec-ico{
                    text-align: center;
                    padding: 10px 0px;
                    img{
                        width: 70px;
                    }
                }
                .sec-head{
                    font-size: 22px;
                    text-align: center;
                    line-height: 38px;
                    font-weight: 800;
                    color: #0085a9;
                }
                .sec-desc{
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: 300;
                    text-align: center;
                    line-height: 34px;
                    color: #35587a;
                }
            }
        }
        .see-demo{
            margin-top: 30px;
            text-align: center;
            font-size: 22px;
            span{
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 25px;
                    transform: rotate(270deg);
                    margin-left: 10px;
                    animation: moveleftright 2s infinite linear;
                }
            }
        }
    }
    .imgholder{
        position: fixed;
        z-index: 1;
        top:100px;
        left:0;
        right:0;
        bottom:0;
        background-image: url("../images/pattern.svg");
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }
    
    .animations{
        position: relative;
        z-index: 2;
        h4{
            margin: 70px auto 27px;
            font-size: 34px;
            letter-spacing: .7px;
            color: #1F2933;
            font-weight: 300;
            text-align: center;
            font-family: "SourceSansPro-SemiBold";
            line-height: 34px;
        }
        h5{
            margin: 0 auto 5px;
            color: #484d51;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: .4px;
            width: 80%;
            font-weight: 300;
            text-align: center;
            max-width: 1188px;
            font-family: "SourceSansPro-Regular";
        }
        h6{
            margin: 50px auto 5px;
            color: #484d51;
            font-size: 18px;
            letter-spacing: .4px;
            width: 60%;
            max-width: 1188px;
            font-weight: 600;
            text-align: center;
            font-family: "SourceSansPro-Regular";
            line-height: 18px;
        }
        .animations-inner{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .animation{
                width: 49.45%;
                margin: 50px 0;
                box-sizing: border-box;
                .animation-image{
                    margin: 0 auto;
                    width: 150px;
                    height: 150px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    &.animation-tagging{
                        background-image: url("../images/autotagging.svg");
                    }
                    &.animation-spam{
                        background-image: url("../images/spamdetection.svg");
                    }
                    &.animation-persona{
                        background-image: url("../images/personamatching.svg");
                    }
                    &.animation-deepfeature{
                        background-image: url("../images/deepfeature.svg");
                    }
                    &.animation-hotel{
                        background-image: url("../images/a-hotel.svg");
                    }
                    &.animation-realestate{
                        background-image: url("../images/a-realestate.svg");
                    }
                    &.animation-dating{
                        background-image: url("../images/a-dating.svg");
                    }
                    &.animation-aesthetic{
                        background-image: url("../images/a-aesthetic.svg");
                    }
                    &.animation-watermark{
                        background-image: url("../images/a-watermark.svg");
                    }
                }
                .title{
                    font-size: 26px;
                    font-weight: 300;
                    letter-spacing: .5px;
                    text-align: center;
                    color: #1F2933;
                    margin: 30px auto 30px;
                }
                .description{
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: .3px;
                    text-align: center;
                    color: #484d51;
                    width: 360px;
                    margin: 0 auto;
                    a{
                        color: #287fca;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .solutions-wrap{
        padding: 70px 0px 40px;
        .product-info{
            margin: 20px auto;
            .main-title{
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 30px;
            }
            .sub-title{
                font-size: 16px;
                line-height: 20px;
            }
            .info-secs{
                flex-wrap: wrap;
            }
        }
        .animations{
            padding: 0 20px;
            h5{
                width: 100%;
            }
            .animations-inner{
                width: 100%;
                .animation{
                    width: 100%;
                    margin: 30px 0;
                    .animation-image{
                        width: 240px;
                        height: 150px;
                    }
                    .description{
                        width: 100%;
                    }
                }
            }
        }
    }
}