.terms-wrap{
    position: relative;
    padding: 100px 0 40px;
    box-sizing: border-box;
    .container{
        max-width: 1188px;
        margin: 0px auto;
    }
}

@media (max-width: 768px){
    .terms-wrap{
        padding: 70px 0px 40px;
        .container{
            padding: 10px 15px;
            ul{
                padding-left: 0px;
            }
        }
    }
}