@keyframes rotateCoin{
    50%{
        transform: rotate3d(0,1,0,180deg);
    }
}

@keyframes beam {
    50% {
      opacity: 0;
    }
}
  
@keyframes scanning {
    50% {
      transform: translateY(280px);
    }
}
@keyframes scanningsm {
    50% {
      transform: translateY(250px);
    }
}

@keyframes scanning1{
    50% {
      transform: translatex(450px);
    }
}

@keyframes scanning1sm{
    50% {
      transform: translatex(300px);
    }
}

@keyframes throw {
    100%{
        transform: rotateZ(11deg) translateX(100px);
        opacity: 0;
    }
}

.fadeIn-enter {
    opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.fadeIn-appear.fadeIn-appear-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
}

.animated-list{
    position: relative;
    .animation-item{
        position: absolute;
    }
}

@keyframes typedjsBlink{
    50% { 
        opacity: 0.0; 
    }
}

@keyframes path1{
    0%{
        left:50%;
        top:50%;
    }
    25%{
        left:20%;
        top:20%;
    }
    50%{
        left:90%;
        top:20%;
    }
    75%{
        left: 60%;
        top: 90%;
    }
    100%{
        left:50%;
        top:50%;
    }
}

@keyframes path2{
    0%{
        left:50%;
        top:50%;
    }
    25%{
        left:80%;
        top:20%;
    }
    50%{
        left:20%;
        top:50%;
    }
    75%{
        left: 80%;
        top: 50%;
    }
    80%{
        left:80%;
        top:80%;
    }
    100%{
        left: 50%;
        top:50%;   
    }
}

@keyframes path3{
    0%{
        left:50%;
        top:50%;
    }
    25%{
        left:50%;
        top:20%;
    }
    50%{
        left:40%;
        top:20%;
    }
    75%{
        left: 60%;
        top: 20%;
    }
    100%{
        left:50%;
        top:50%;
    }
}

@keyframes moveleftright {
    50%{
        transform: translate3d(10px,0,0) rotate(270deg);
    }
}

@keyframes flash {
    50%{
        transform: translateY(-5px) scale(1.1);
    }
}

@keyframes widgetFadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}