html {
	-webkit-font-smoothing: antialiased;
	height: 100%;
}
  
body, h3, h4, h5, h6 {
	font-size: 16px;
    margin: 0;
	line-height: 24px;
	font-family: "SourceSansPro-Regular";
}
  
body {
    margin: 0;
	height: 100%;
	background-color: #fff;
}
.iphone-img{
	display: none;
}
#appcontainer{
	background-color: #fff;
	height: 100%;
}

.main-wrap{
	height: 100%;
}
  
a {
    color: #ff4081;
    text-decoration: none;
}

ul{
	list-style:none;
}

.woobtn{
	background-color: $color_blue;
	padding: 10px 20px;
	border:none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
	outline: none;
	user-select: none;
	transition: all 500ms ease;
	&:active{
		background-color: $color_blue_highlighted;
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
	}
	.btn-img{
		outline: none;
		user-select: none;
		width: 25px;
		margin-left: 3px;
	}

	&.btn-round{
		width: 60px;
		height: 60px;
		padding: 5px;
		border-radius: 50%;
	}
}

.btn-primary{
	text-align: center;
    color: #00B2FF;
    border: 1px solid #00B2FF;
    border-radius: 20px;
    background-color: transparent;
    padding: 11px 22px;
    margin: 20px 15px 0 auto;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
	min-width: 150px;
	font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.generic-no{
	padding: 5px 10px;
    font-size: 16px;
    color: #555;
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: center;
}

.dropdown-container{
	position: relative;
	margin: 20px auto;
	max-width: 400px;
	z-index: 10;
	.dropdown-rect{
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px 15px;
		font-size: 22px;
		font-family: "Prompt-Regular";
		cursor: pointer;
		background-image: url("../../images/drop-down-arrow.svg");
		background-size: 15px;
		background-position: 97% 50%;
		background-repeat: no-repeat;
		&.open{
			border-bottom: none;
		}
	}
	.dropdown-popup{
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		transition: all 200ms ease;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background-color: #fff;
		&.show{
			opacity: 1;
		}
		.dropdown-item{
			padding: 10px 15px;
			font-size: 20px;
			cursor: pointer;
			&.selected{
				background-color: rgba(0,0,0,0.1);
				&:hover{
					background-color: rgba(0,0,0,0.1);
				}
			}
			&:hover{
				background-color: rgba(0,0,0,0.05);
			}
		}
	}
}

.footer-section{
	margin: 30px auto;
	position: relative;
	z-index: 10;
	padding: 100px 0px;
	border-top: 3px solid #dbe8eb;
	.width-wrap{
		display:flex;
		justify-content: space-between;
		max-width: 1188px;
		margin: 0px auto;
		.footer-comp{
			.footer-img{
				width: 140px;
			}
			.footer-tagline{
				font-size: 17px;
				color: #35587a;
				margin-left: 10px;
				margin-top: -4px;
				font-family: "SourceSansPro-SemiBold"
			}
			.footer-social-links{
				margin-top: 20px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.fsocial{
					width: 30px;
					filter: grayscale(1);
					cursor: pointer;
					margin: 0px 10px;
					transition: all 200ms linear;
					&:hover{
						filter: grayscale(0);
					}
				}
			}
		}
		.footer-links{
			.ftitle{
				font-size: 18px;
				font-weight: bold;
				color: #35587a;
				font-family: "SourceSansPro-Bold";
				letter-spacing: 1.8px;
			}
			.footer-item{
				color:#888;
				margin: 15px 0px;
				cursor: pointer;
				font-size: 14px;
				font-family: "SourceSansPro-Regular";
			}
		}
		.footer-form{
			width: 360px;
			.ftitle{
				font-size: 18px;
				font-weight: bold;
				color: #35587a;
				font-family: "SourceSansPro-Bold";
				letter-spacing: 1.8px;
			}
			.err{
				color:red;
				font-size: 12px;
				font-weight: bold;
			}
			.send-btn{
				margin-top: 15px;
				color:#ff4081;
				letter-spacing: 1.2px;
				cursor: pointer;
				display: inline-block;
				border-radius: 5px;
				padding: 5px;
				transition: all 300ms ease;
				&:hover{
					background-color: rgba(0,0,0,0.1);
				}
			}
		}
	}
}
.custom-input{
	border: none;
	border-bottom: 1px solid #333;
	padding: 5px 0px;
	width: 100%;
	font-size: 15px;
	margin-top: 20px;
	outline: none;
	background: none;
	font-family: "SourceSansPro-Regular";
	&::placeholder{
		color:#ccc;
	}
	&.big{
		font-size: 22px;
		text-align: center;
		margin-top: 40px;
		&::placeholder{
			color:#888;
		}
	}
}

.success-message{
	padding: 10px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #3cd07c;
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 1.3px;
}

.success-modal-wrap{
	position: fixed;
	top: 0;
	left: -10000px;
	right: 0;
	bottom: 0;
	z-index: -1;
	transition: opacity 500ms ease;
	text-align: center;
	background-color: rgba(0,0,0,0);
	pointer-events: none;
	display: flex;
    justify-content: center;
    align-items: center;
	&.show{
		background-color: rgba(243,243,243,0.8);
		pointer-events: all;
		z-index: 1000;
		left: 0;
		.success-modal{
			opacity: 1;
			pointer-events: all;
			.msg{
				pointer-events: all;
			}
			.ok-btn{
				pointer-events: all;
			}
		}
	}
	.success-modal{
		pointer-events: none;
		opacity: 0;
		position: relative;
		border-radius: 7px;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 35px 30px 0;
		border-bottom: 30px solid transparent;
		min-width: 0;
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		background: #fff;
		width: 650px;
		max-width: 80%;
		cursor: auto;
		white-space: normal;
		transition: all 500ms ease;
		pointer-events: all;
		box-shadow: 0 10px 20px rgba(90,122,190,0.2);
		.msg{
			font-size: 28px;
			font-family: "SourceSansPro-Regular";
			line-height: 1.44;
			text-align: center;
			pointer-events: none;
		}
		.ok-btn{
			pointer-events: none;
			font-family: "SourceSansPro-Bold";
			padding: 8px 16px;
			border-radius: 100px;
			background-color: #f13c6e;
			color: #fff;
			border: 4px solid #c70c40;
			width: 140px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 200ms ease;
			user-select: none;
			font-size: 20px;
			margin: 20px auto;
			&:hover{
				background-color: #e01049;
			}
		}
	}
}

@media only screen and (max-device-width:415px){
	.footer-section{
		padding: 10px 20px;
		.width-wrap{
			flex-wrap: wrap;
			.footer-comp{
				margin-top: 30px;
			}
			.footer-links{
				margin-top: 60px;
			}
			.footer-form{
				margin-top: 60px;
			}
		}
	}

	.success-modal-wrap{
		.success-modal{
			.msg{
				font-size: 24px;
				line-height: 28px;
			}
		}
	}
}