.form-group{
    position: relative;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: flex-start;
    label{
        margin-bottom: 5px;
    }
    *{
        flex: 1 1 100%;
    }
}

.control-label{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.4px;
    white-space: nowrap;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
    display: inline-block;
    padding: 2px 12px 0;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    color: #323237;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'sofia-pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: padding 0.2s;
    &.large{
        padding: 6px 20px 4px;
        line-height: 32px;
        font-size: 15px;
    }
    &.primary{
        color: #fff;
        background: #2962FF;
        &:hover{
            background: #0041f5;

        }
    }
}

.card{
    border-radius: 0px;
    transition: all 0.3s ease;
    padding: 10px 10px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    display: inline-block;
    margin: 0px auto;
    box-sizing: border-box;
    vertical-align: top;
    &.hide{
        display: none;
    }
    &.go-away{
        transform: rotateZ(10deg) translateX(70px);
        opacity: 0;
    }
    .card-inner{
        box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: all 300ms ease;
        &:hover{
            box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
        }
        .chead{
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
            font-family: "Muli-SemiBold";
            font-size: 18px;
        }
    }
}

.slick-list{
    overflow: visible !important;
}

@media (max-width:544px){
    .card{
        padding: 5px;
        .card-inner{
            .chead{
                font-size: 14px;
            }
        }
    }
}